<div class="flex flex-column">
  <div class="flex justify-center items-center my2">
    <span class="size-24 weight-500">{{ "Week " + strike3Game.week.weekNumber }}</span>
    <span class="size-16 ml1">{{ strike3Game.week.locked ? "(Locked)" : "(Open)" }}</span>
  </div>
  <div class="flex flex-none ml-auto mr-auto" *ngFor="let strike3Player of strike3Game.players">
    <div class="player-name flex-none center truncate">{{ strike3Player.name }}</div>
    <div *ngFor="let strike3Pick of strike3Player.picks" class="pick flex-none center">{{ strike3Pick.team }}</div>
  </div>
</div>
