@import '../../../styles/variables';

:host {
  position: fixed;
  width: 100%;
}

.nav-bar {
  background-color: $nav-bar-background-color;
  color: $nav-bar-text-color;
  height: $nav-bar-height;

  .user-menu {
    cursor: pointer;

    &:hover {
      color: $primary-theme-color;
    }
  }

  .user-menu-item:hover {
    background-color: $dropdown-menu-item-hover;
  }
}
