<div>
    <div class="nav-bar flex items-center border-box p1">
        <div class="flex items-center flex-auto">

            <div dropdown class="relative">
                <button dropdownToggle type="button" class="nav-button btn btn-primary mr2" aria-controls="mobile-nav-dropdown" [hidden]="!admin">
                    <i class="fa fa-align-justify"></i>
                </button>

                <ul id="mobile-nav-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" routerLink="../player">Home</a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="../admin">Admin</a></li>
                </ul>
            </div>

            <div class="size-24 weight-500">Strike 3</div>
            <a *ngIf="admin" class="nav-link size-20 underline ml2" routerLink="../player">Home</a>
            <a *ngIf="admin" class="nav-link size-20 underline" routerLink="../admin">Admin</a>
        </div>

        <div class="flex-none">
            <button class="btn btn-primary" *ngIf="!user" (click)="showLoginModal()">Sign In</button>

            <div dropdown class="relative" [hidden]="!user">
                <div dropdownToggle class="user-menu" aria-controls="user-menu">
                    {{ user?.name }}
                    <i class="fa fa-angle-down"></i>
                </div>

                <ul id="user-menu" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" routerLink="../superuser" *ngIf="superuser">Superuser</a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="../player" *ngIf="superuser">Player</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="openProfileModal()">Profile</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="signOut()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
