<div *ngIf="!admin" class="mr2 center">
    Access Denied: Sign in as admin user to view this page
</div>

<div [hidden]="!admin" class="admin-view flex flex-column">

    <tabset>
        <tab heading="Spreadsheet">
            <div *ngIf="admin" class="mt2">
                <button class="btn btn-primary mr1" (click)="updateResults()" title="Automatically set win/loss/tie (only works day after games)">Auto-Update Results</button>
                <app-game-table [admin]="true" class="mb4 mt1"></app-game-table>
            </div>
        </tab>

        <tab heading="Tie Breakers">
            <div *ngIf="admin" class="mt2">
                <app-tie-breaker class="mb4"></app-tie-breaker>
            </div>
        </tab>

        <tab heading="Picks Log">
            <div *ngIf="admin" class="mt2">
                <app-pick-log class="mb4"></app-pick-log>
            </div>
        </tab>

        <tab heading="Email">
            <div *ngIf="admin" class="mt3">
                <app-send-email></app-send-email>
            </div>
        </tab>

        <tab heading="Roster">
            <div *ngIf="admin" class="mt2">
                <app-roster></app-roster>
            </div>
        </tab>
    </tabset>

</div>

