<div *ngIf="!admin">
  Access Denied
</div>

<div *ngIf="admin" id="admin-view" class="flex flex-column">

  <div class="m1">
    <button class="button" routerLink="../player">Home</button>
  </div>

  <div class="flex justify-center items-center mb2">
    <span class="size-24 weight-500">{{ "Week " + strike3Game.week.weekNumber }}</span>
    <span class="size-16 ml1">{{ strike3Game.week.locked ? "(Locked)" : "(Open)" }}</span>
  </div>

  <div class="flex flex-none ml-auto mr-auto size-12 weight-500">
    <div class="player-name flex-none"></div>
    <div class="pick flex-none center">1</div>
    <div class="pick flex-none center">2</div>
    <div class="pick flex-none center">3</div>
    <div class="pick flex-none center">4</div>
    <div class="pick flex-none center">5</div>
    <div class="pick flex-none center">6</div>
    <div class="pick flex-none center">7</div>
    <div class="pick flex-none center">8</div>
    <div class="pick flex-none center">9</div>
    <div class="pick flex-none center">10</div>
    <div class="pick flex-none center">11</div>
    <div class="pick flex-none center">12</div>
    <div class="pick flex-none center">13</div>
    <div class="pick flex-none center">14</div>
    <div class="pick flex-none center">15</div>
    <div class="pick flex-none center">16</div>
    <div class="pick flex-none center">17</div>
  </div>

  <div class="player-wrapper flex flex-none ml-auto mr-auto" *ngFor="let strike3Player of strike3Game.players">
    <div class="player-name flex-none center truncate">{{ strike3Player.name }}</div>
    <div *ngFor="let strike3Pick of strike3Player.picks" class="pick flex-none center editable" (click)="openPickModal(strike3Pick)">
      {{ strike3Pick.team }}
    </div>
  </div>

  <!--<div class="reveal" id="pick-modal" data-reveal>-->
    <!--<button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>-->
    <!--<app-pick [week]="selectedWeek"></app-pick>-->
  <!--</div>-->

</div>

