@import 'variables';
@import 'basscss';
@import 'foundation';
@import '~font-awesome/scss/font-awesome';

html, body, input, select, button {
  font-family: RobotoDraft, Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.hidden {
  display: none !important;
}

.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 700; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-20 { font-size: 20px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
