@import "variables";

$primary-color: $primary-theme-color;
$secondary-color: $secondary-theme-color;

//
// BASE STYLES
//
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: underline;

//
// BUTTON
//
$button-radius: 3px;
$button-margin: 0;
$button-padding: 0.65em 1em;

//
// SELECT
//
$select-radius: 3px;

//
// MODAL
//
$reveal-radius: 3px;

//
// FORMS
//
$form-label-font-weight: 500;
$input-radius: 3px;

//
// CALLOUT
//
$callout-radius: 3px;
