@import "variables";

$primary-color: $primary-theme-color;
$secondary-color: $secondary-theme-color;

//
// BUTTON
//
$button-radius: 3px;
$button-margin: 0;
$button-padding: 0.65em 1em;

//
// SELECT
//
$select-radius: 3px;

//
// MODAL
//
$reveal-radius: 3px;

//
// FORMS
//
$form-label-font-weight: 500;
$input-radius: 3px;
$form-button-radius: 3px;

//
// CALLOUT
//
$callout-radius: 3px;

//
// TABS
//
$tab-item-font-size: 16px;
$tab-item-background-hover: $tab-hover;

//
// DROPDOWN
//
$dropdown-radius: 3px;
$dropdown-padding: 0;
