@import "variables";

$primary-color: $primary-theme-color;
$secondary-color: $secondary-theme-color;

//
// BUTTON
//
$button-radius: 3px;
$button-margin: 0;
$button-padding: 0.65em 1em;

//
// SWITCH
//
$switch-height: 1.5rem;
$switch-radius: 1.5rem;
$switch-margin: 0;
$switch-paddle-radius: 100%;

//
// SELECT
//
$select-radius: 3px;