<div *ngIf="!admin" class="mr2 center">
  Access Denied: Sign in as admin user to view this page
</div>

<div [hidden]="!admin" id="admin-view" class="flex flex-column">

  <ul class="tabs" data-tabs id="admin-tabs">
    <li class="tabs-title is-active"><a href="#spreadsheet-tab">Spreadsheet</a></li>
    <li class="tabs-title"><a href="#picks-log-tab">Picks Log</a></li>
    <li class="tabs-title"><a href="#email-tab">Email</a></li>
  </ul>

  <div class="tabs-content overflow-auto" data-tabs-content="admin-tabs">

    <div class="tabs-panel is-active" id="spreadsheet-tab">
      <div *ngIf="admin">
        <button class="button mr1" (click)="updateResults()">Update Results</button>
        <button class="button" (click)="screenshot()">Download Spreadsheet Image</button>
        <app-game-table [admin]="true" [strike3Game]="strike3Game" class="mb4 mt1"></app-game-table>
      </div>
    </div>

    <div class="tabs-panel" id="picks-log-tab">
      <div *ngIf="admin">
        <app-pick-log class="mb4"></app-pick-log>
      </div>
    </div>

    <div class="tabs-panel" id="email-tab">
        <div *ngIf="admin">
            <app-send-email></app-send-email>
        </div>
    </div>

  </div>

</div>

