<div *ngIf="state === LoginState.Login">
    <form #loginForm="ngForm" (ngSubmit)="signIn()">
        <div class="modal-header">
            <div class="flex-auto center size-24 weight-500 relative">
                Sign In
                <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="modal-body">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="text" placeholder="Email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>

            <label for="password" class="mt2">Password</label>
            <div class="input-group">
                <input type="password" placeholder="Password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>

            <div class="flex mt3">
                <button class="btn btn-primary flex-auto" [disabled]="loginForm.invalid || loading">
                    <span *ngIf="!loading">Sign In</span>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>

            <div class="center mt2">
                <a (click)="toggleCreateAccount()" class="underline" tabindex="">Create Account</a>
            </div>
        </div>
    </form>
</div>


<div *ngIf="state === LoginState.Create">
    <form #createAccountForm="ngForm" (ngSubmit)="createAccount()">
        <div class="modal-header">
            <div class="flex-auto center size-24 weight-500 relative">
                Create Account
                <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="modal-body">
            <div class="flex">
                <div class="flex-auto mr1">
                    <label for="firstName">First Name</label>
                    <div class="input-group">
                        <input type="text" placeholder="First Name" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required>
                    </div>
                </div>

                <div class="flex-auto">
                    <label for="lastName">Last Name</label>
                    <div class="input-group">
                        <input type="text" placeholder="Last Name" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required>
                    </div>
                </div>
            </div>

            <div class="mt2">
                <label for="createEmail">Email</label>
                <div class="input-group">
                    <input type="text" placeholder="Email" class="form-control" id="createEmail" name="createEmail" [(ngModel)]="email" required>
                </div>
            </div>

            <div class="mt2">
                <label for="createPassword">Password</label>
                <div class="input-group">
                    <input type="password" placeholder="Password" class="form-control" id="createPassword" name="createPassword" [(ngModel)]="password" required>
                </div>
            </div>

            <div class="mt2">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                    <input type="password" placeholder="Confirm Password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="passwordConfirm" required>
                </div>
            </div>

            <div class="flex mt3">
                <button class="btn btn-primary flex-auto" [disabled]="createAccountForm.invalid || (password !== passwordConfirm) || loading">
                    <span *ngIf="!loading">Create Account</span>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="state === LoginState.ResetPassword || state === LoginState.ResetComplete">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">

        <div class="modal-header">
            <div class="flex-auto center size-24 weight-500 relative">
                Reset Password
                <button type="button" class="close-button" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="modal-body">
            <div *ngIf="state === LoginState.ResetPassword">
                <label for="forgotEmail">Email</label>
                <div class="input-group">
                    <input type="text" placeholder="Email" class="form-control" id="forgotEmail" name="forgotEmail" [(ngModel)]="email" required>
                </div>
            </div>

            <div class="flex mt2">
                <button *ngIf="state === LoginState.ResetPassword" class="btn btn-primary flex-auto" [disabled]="resetPasswordForm.invalid || loading">
                    <span *ngIf="!loading">Reset Password</span>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>

                <alert type="info" *ngIf="state === LoginState.ResetComplete">
                    Password Reset Requested, You will receive an email with reset instructions
                </alert>
            </div>
        </div>
    </form>
</div>

<alert type="danger mx2 mb2" *ngIf="error">
    {{error}}
    <a *ngIf="errorType === ErrorType.Create" (click)="toggleCreateAccount()" class="underline">Create Account</a>
    <a *ngIf="errorType === ErrorType.Reset" (click)="toggleResetPassword()" class="underline">Reset Password</a>
</alert>
