@import '../../../styles/variables';

:host {
  display: block;
}

.player-name {
  width: 200px;
}

.pick {
  width: 50px;
}

.player-wrapper {

  &.current-user {
    outline: 10px solid $primary-theme-color;
    margin: 10px 0;
  }

  .player-name {
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .pick {
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;

    &.editable:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.25);
    }

    &.win {
      background-color: $win-color;
    }

    &.loss {
      background-color: $loss-color;
    }

    &.tie {
      background-color: $tie-color;
    }

    &.eliminated {
      background-color: $eliminated-color;
    }
  }
}

