<div id="game-table" *ngIf="strike3Game">

    <div *ngIf="!admin" class="full-width flex justify-center items-center mb2">
        <span class="size-24 weight-500">{{ "Week " + strike3Game.week?.weekNumber }}</span>
    </div>

    <div *ngIf="admin" class="full-width flex justify-center items-center mb2">
        <select class="auto-width m0" [(ngModel)]="weekNumber" (change)="weekChange()">
            <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]" [value]="number">{{ "Week " + number }}</option>
        </select>
        <label for="lock-checkbox" class="size-16 ml2 mr1 clickable">Viewable To All Pickers</label>
        <input id="lock-checkbox" type="checkbox" [(ngModel)]="isWeekPublic" (change)="weekChange()" class="m0">
        <button class="button ml2" *ngIf="weekChanged" (click)="saveWeek()" [disabled]="savingWeek">
            <span *ngIf="!savingWeek">Save Changes</span>
            <i *ngIf="savingWeek" class="fa fa-spinner fa-spin"></i>
        </button>
    </div>

    <div *ngIf="tieBreaker" class="full-width flex justify-center items-center mb2">
        <div class="tie-breaker-wrapper p2 flex flex-column justify-center items-center">
            <div>
                <span class="size-20 weight-500 mr1">Tie Breaker Game:</span>
                <span class="size-20">{{ tieBreaker.awayTeam + " vs. " + tieBreaker.homeTeam }}</span>
            </div>

            <div class="mt1" *ngIf="user && !tieBreakerPick?.tieBreakerTeam && !tieBreakerPick?.eliminated">
                <button class="button" (click)="openTieBreakerModal()">Enter Tie Breaker Pick</button>
            </div>

            <div class="mt1" *ngIf="user && tieBreakerPick?.tieBreakerTeam">
                <span class="size-16 weight-500 mr1">Your Pick:</span>
                <span class="size-16">{{ tieBreakerPick.tieBreakerTeam + ' - ' + tieBreakerPick.tieBreakerPoints }}</span>
            </div>

            <div>
                <button class="button secondary mt1" (click)="openTieBreakersModal()">View Tie Breaker Picks</button>
            </div>
        </div>
    </div>

    <div *ngIf="!tieBreaker && previousTieBreakers" class="full-width flex justify-center items-center mb2">
        <button class="button secondary mt1" (click)="openTieBreakersModal()">View Tie Breaker Picks</button>
    </div>

    <div class="full-width flex flex-column items-start">
        <div id="game-table-results" class="mx-auto pt1">
            <div class="flex size-12 weight-500">
                <div class="player-rank flex-none center">Rank</div>
                <div class="player-name flex-none center">Player</div>
                <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]" class="pick flex-none center">{{ number }}</div>
            </div>

            <div class="player-wrapper flex" *ngFor="let strike3Player of strike3Game.players"
                 [class.current-user]="strike3Player.signedIn">
                <div class="player-rank flex-none center truncate">{{ strike3Player.rank }}</div>
                <div class="player-name flex-none center truncate">{{ strike3Player.admin ? strike3Player.name + " (admin)" : strike3Player.name }}
                </div>
                <div *ngFor="let strike3Pick of strike3Player.picks" class="pick flex-none center"
                     [class.editable]="strike3Pick.canEdit" (click)="openPickModal(strike3Pick)"
                     [ngClass]="{'win': strike3Pick.status === pickStatus.Win, 'loss': strike3Pick.status === pickStatus.Loss, 'tie': strike3Pick.status === pickStatus.Tie, 'eliminated': strike3Pick.eliminated}">
                    {{ strike3Pick.team }}
                </div>
            </div>
        </div>
    </div>

    <div class="reveal" id="pick-modal" data-reveal>
        <button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>
        <app-pick [admin]="admin"></app-pick>
    </div>

    <div class="reveal" id="tie-breaker-pick-modal" data-reveal>
        <button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>
        <app-tie-breaker-pick></app-tie-breaker-pick>
    </div>

    <div class="reveal" id="tie-breakers-modal" data-reveal>
        <button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>
        <app-view-tie-breakers></app-view-tie-breakers>
    </div>
</div>
