<div *ngIf="players">
    <h1 class="center">Roster</h1>

    <div *ngIf="players.length > 0">
        <table class="ml-auto mr-auto mb4">
            <tr>
                <th>Player Name</th>
                <th>Email</th>
            </tr>
            <tr *ngFor="let player of players">
                <td class="center">
                    <div class="mx3">{{ player.name }}</div>
                </td>
                <td class="center">
                    <div class="mx3">{{ player.email }}</div>
                </td>
            </tr>
        </table>
    </div>

</div>
