<div>
    <div class="center size-24 weight-500 my2">Update Profile</div>

    <form #profileForm="ngForm" (ngSubmit)="updateProfile()">

        <div class="flex mb2">
            <label class="flex-auto mr1">
                First Name
                <input type="text" name="email" [(ngModel)]="firstName" required>
            </label>
            <label class="flex-auto">
                Last Name
                <input type="text" name="password" [(ngModel)]="lastName" required>
            </label>
        </div>

        <div class="flex">
            <button class="button flex-auto" [disabled]="profileForm.invalid || !isChanged() || loading">
                <span *ngIf="!loading">Save Changes</span>
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </form>
</div>

<div *ngIf="error" class="callout alert mt2">
    Error occurred while saving profile
</div>
