<div id="tie-breakers">
    <h1 class="center">Tie Breakers</h1>

    <div class="flex justify-center items-center mb2">
        <button class="button" (click)="openTieBreakerModal()">Add Tie Breaker</button>
    </div>

    <div *ngIf="tieBreakers.length > 0">
        <table class="ml-auto mr-auto mb4">
            <tr>
                <th>Week</th>
                <th>Game</th>
                <th>Result</th>
                <th></th>
            </tr>
            <tr *ngFor="let tieBreaker of tieBreakers">
                <td class="center"><div class="mx3">{{ tieBreaker.week }}</div></td>
                <td class="center"><div class="mx3">{{ tieBreaker.awayTeam + ' vs. ' + tieBreaker.homeTeam }}</div></td>
                <td class="center">
                    <div *ngIf="tieBreaker.winningTeam" class="mx2">{{ tieBreaker.winningTeam + ' - ' + tieBreaker.points }}</div>
                    <div *ngIf="!tieBreaker.winningTeam" class="mx2">
                        <button class="button" (click)="setResult(tieBreaker)">Set Result</button>
                    </div>
                </td>
                <td class="center">
                    <div class="mx2 my1">
                        <button class="button alert" (click)="deleteTieBreaker(tieBreaker)">Delete</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="tieBreakers.length === 0" class="center">
        {{ "No Tie Breakers Created Yet" }}
    </div>

    <div class="reveal" id="tiebreaker-modal" data-reveal>
        <button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>
        <app-tie-breaker-form></app-tie-breaker-form>
    </div>

    <div class="reveal" id="tiebreaker-result-modal" data-reveal>
        <button class="close-button" data-close type="button"><span aria-hidden="true">&times;</span></button>
        <app-tie-breaker-result [tieBreaker]="selectedTieBreaker"></app-tie-breaker-result>
    </div>
</div>
