<div class="center size-24 weight-500 my2">
    <span>Add Tie Breaker</span>
</div>

<div>
    <label>Week
        <select [(ngModel)]="selectedWeek" (change)="getGamesForWeek()">
            <option [value]="null">Select Week</option>
            <option *ngFor="let week of availableWeeks" [value]="week">{{ week }}</option>
        </select>
    </label>
</div>

<div>
    <label>Game
        <select [(ngModel)]="selectedGame" [disabled]="!selectedWeek">
            <option value="">Select Game</option>
            <option *ngFor="let game of availableGames" [ngValue]="game">{{ game.awayTeam + ' vs ' + game.homeTeam }}</option>
        </select>
    </label>
</div>

<div class="right-align mt2">
    <button class="button full-width" [disabled]="!selectedGame" (click)="submitTieBreaker()">
        <span *ngIf="!loading">Add Tie Breaker</span>
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>
</div>

<div *ngIf="error" class="callout alert mt2">
    Error Occurred, Tie Breaker not saved
</div>
