<div class="center size-24 weight-500 my2">Week {{ selectedWeek }} Pick</div>

<label>Team
  <select [(ngModel)]="selectedTeam">
    <option value="">Select Team</option>
    <option *ngFor="let team of pickModel.allTeams" [value]="team.abbreviation">{{ team.name }}</option>
  </select>
</label>

<div class="size-12 mb2">
  *Once you submit your pick, only the admin can edit it
</div>

<div class="right-align">
  <button class="button full-width" [disabled]="!selectedTeam" (click)="submitPick()">
    <span *ngIf="!loading">Submit Pick</span>
    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
  </button>
</div>

<div *ngIf="error" class="callout alert mt2">
  Error Occurred, Pick not saved
</div>
