<div *ngIf="selectedTieBreaker">
    <div class="center size-24 weight-500 my2">
        <span>Tie Breaker Pick</span>
        <span class="weight-300">{{ " ("  + selectedTieBreaker.awayTeam + ' vs. ' + selectedTieBreaker.homeTeam + ")" }}</span>
    </div>

    <div *ngIf="!isGameStarted">
        <div>
            <label>Winning Team
                <select [(ngModel)]="winningTeam">
                    <option value="">Select Team</option>
                    <option [value]="selectedTieBreaker.awayTeam">{{ selectedTieBreaker.awayTeam }}</option>
                    <option [value]="selectedTieBreaker.homeTeam">{{ selectedTieBreaker.homeTeam }}</option>
                </select>
            </label>
        </div>

        <div>
            <label>Total Combined Points
                <input type="number" [(ngModel)]="totalPoints"/>
            </label>
        </div>

        <div class="size-12 mb2">
            *Once you submit your pick, only the admin can change it
        </div>

        <button class="button full-width" [disabled]="!winningTeam || !totalPoints || loading" (click)="submitTieBreaker()">
            <span *ngIf="!loading">Submit Tie Breaker</span>
            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </button>
        <button class="button secondary full-width mt1" [disabled]="loading" (click)="closeModal()">
            <span>Cancel (Don't Forget To Submit Later)</span>
        </button>
    </div>

    <div *ngIf="isGameStarted">
        <div class="center size-16 my3">This game has already started. It's too late to submit your tie breaker pick.</div>

        <button class="button secondary full-width mt1" (click)="closeModal()">
            <span>Close</span>
        </button>
    </div>

    <div *ngIf="error" class="callout alert mt2">
        Error Occurred, Pick not saved
    </div>
</div>

