<div *ngIf="!superuser" class="mr2 center">
  Access Denied: Sign in as superuser to view this page
</div>

<div [hidden]="!superuser" id="admin-view" class="flex flex-column">

  <ul class="tabs" data-tabs id="admin-tabs">
    <li class="tabs-title is-active"><a href="#spreadsheet-tab">Spreadsheet</a></li>
    <li class="tabs-title"><a href="#picks-log-tab">Picks Log</a></li>
    <li class="tabs-title"><a href="#email-tab">Email</a></li>
    <li class="tabs-title"><a href="#schedule-tab">Schedule</a></li>
  </ul>

  <div class="tabs-content overflow-auto" data-tabs-content="admin-tabs">

    <div class="tabs-panel is-active" id="spreadsheet-tab">
      <div *ngIf="superuser">
        <button class="button" (click)="updateResults()">Update Results</button>
        <button class="button" (click)="screenshot()">Download Spreadsheet Image</button>
        <app-game-table [admin]="true" [strike3Game]="strike3Game" class="mb4 mt1"></app-game-table>
      </div>
    </div>

    <div class="tabs-panel" id="picks-log-tab">
      <div *ngIf="superuser">
        <app-pick-log class="mb4"></app-pick-log>
      </div>
    </div>

    <div class="tabs-panel" id="email-tab">
      <div *ngIf="superuser">
        <div>email stuff goes here</div>
      </div>
    </div>

    <div class="tabs-panel" id="schedule-tab">
      <div *ngIf="superuser">
        <button class="button" (click)="fetchSchedule()">Fetch Updated Schedule</button>
        <button *ngIf="schedule" class="button" (click)="postSchedule()">Post Updated Schedule</button>
      </div>
    </div>

  </div>

</div>
